:root{
    --textcolor: #dddddd;
    --bgcolor: #59281f;
    --bgbgcolor: #333333;
    --primary: #b79739;
    --secondary: #426b27;
}

html{
    background-color: var(--bgcolor);
}

body{
    color:var(--textcolor);
    background-color: var(--bgcolor);
}

nav{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    background-color: var(--bgbgcolor);
    border-radius: 10px;
    margin-top: 20px;
}

nav a{
    color: var(--textcolor);
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--secondary);
    padding: 7px;
}

main{
    text-align: center;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible.active + .content {
    max-height: 500px; /* Adjust based on content */
}

.collapsible{
    background-color: var(--secondary);
    padding: 8px 20px; /* Adjusted padding to bring background closer to text */
    margin: 10px 0; /* Add some space between the buttons */
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px; /* Optional: rounded corners */
    display: inline-block; /* Centers the text and reduces the width to text width */
    width: auto; /* Ensures the background only extends to the edges of the text */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: adds a shadow for depth */
}

.challenge-card {
    background-color: var(--bgbgcolor);
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px; 
}

.challenge-title {
    font-size: 1.5em; 
    margin-bottom: 10px;
}

.challenge-description {
    font-size: 1em; 
}

.challenge-reward {
    font-size: 1.2em;
    margin-top: 20px;
    font-weight: bold; 
    color: var(--primary); 
    text-align: right;
}

.challenge-btn {
    padding: 10px 15px;
    margin: 10px 5px;
    background-color: var(--secondary);
    color: var(--textcolor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.challenge-btn:hover {
    background-color: darken(var(--primarycolor), 10%);
}

.logout-btn {
    padding: 10px 20px;
    background-color: var(--secondary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
#transportationTable, #transportationTable th, #transportationTable td {
    border: 1px solid white;
    border-collapse: collapse;
}

#transportationTable {
    width: 100%;
    border-collapse: collapse;
}

#transportationTable th, #transportationTable td {
    padding: 10px;
    text-align: left;
}

#transportationTable th {
    background-color: var(--primary);
}

#submitTransportation {
    padding: 15px 30px; 
    font-size: 1.2em; 
    background-color: var(--secondary);
    color: var(--textcolor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; 
    margin: 20px auto; 
    transition: background-color 0.3s;
}

#submitTransportation:hover {
    background-color: darken(var(--primary), 10%); /* Darkens the button on hover */
}

#itemsTable, #itemsTable th, #itemsTable td {
    border: 1px solid var(--textcolor);
    border-collapse: collapse;
}

#itemsTable {
    width: 100%;
    border-collapse: collapse;
}

#itemsTable th, #itemsTable td {
    padding: 10px;
    text-align: left;
}

#itemsTable th {
    background-color: var(--primary); /* Make sure --primary is defined in your CSS */
}

.buy-btn {
    padding: 15px 30px;  /* Increase padding for a larger button */
    font-size: 1.2em;  /* Larger font size for the text inside the button */
    background-color: var(--secondary);  /* Use your primary color */
    color: var(--textcolor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;  /* Ensure it takes the full line */
    margin: 20px auto;  /* Add some margin on the top and bottom, and center it horizontally */
    transition: background-color 0.3s;  /* Smooth transition for any background color change */
}

.buy-btn:hover {
    background-color: darken(var(--primary), 10%);  /* Slightly darken the button on hover for visual feedback */
}

#loginFormButton{
    background-color: var(--secondary);
    border: none;
    color: var(--textcolor);
    padding: 10px;
    border-radius: 5px;
}

#getChallengeButton{
    background-color: var(--secondary);
    border: none;
    color: var(--textcolor);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}