:root{
    --textcolor: #dddddd;
    --bgcolor: #59281f;
    --bgbgcolor: #333333;
    --primary: #b79739;
    --secondary: #426b27;
}

html{
    background-color: var(--bgcolor);
}

body{
    color:var(--textcolor);
    background-color: var(--bgcolor);
}

nav{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    background-color: var(--bgbgcolor);
    border-radius: 10px;
    margin-top: 20px;
}

nav a{
    color: var(--textcolor);
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--secondary);
    padding: 7px;
}

main{
    text-align: center;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible.active + .content {
    max-height: 500px; /* Adjust based on content */
}

.collapsible{
    background-color: var(--secondary);
    padding: 8px 20px; /* Adjusted padding to bring background closer to text */
    margin: 10px 0; /* Add some space between the buttons */
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px; /* Optional: rounded corners */
    display: inline-block; /* Centers the text and reduces the width to text width */
    width: auto; /* Ensures the background only extends to the edges of the text */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: adds a shadow for depth */
}

.challenge-card {
    background-color: var(--bgbgcolor);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px; /* Adjust the width as needed */
}

.challenge-title {
    font-size: 1.5em; /* Larger font size for titles */
    margin-bottom: 10px;
}

.challenge-description {
    font-size: 1em; /* Regular font size for descriptions */
}

.challenge-reward {
    font-size: 1.2em; /* Slightly larger font size for rewards */
    margin-top: 20px;
    font-weight: bold; /* Make the reward stand out */
    color: var(--primary); /* A gold-like color for rewards; change as needed */
    text-align: right;
}

.challenge-btn {
    padding: 10px 15px;
    margin: 10px 5px;
    background-color: var(--secondary);
    color: var(--textcolor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.challenge-btn:hover {
    background-color: darken(var(--primarycolor), 10%);
}
